
/*Style sheet for Board Meetings
Version 1.0 modified on 10/01/10*/

/*to jump to a specific section search for the unique character pair at the front of each TOC section <<tip, highlight the special character and use the shortcut for Find Selection Cmd + Shift + G (Mac) Shit + F3 (PC)>>*/

/*
Style Sheet TOC
^1 Color Guide
^2 Main Content
	^2.1 General Styles
	^2.2 Data Tables
*/

 /* ^1 ----------------------Color Guide-------------------------*/
 /*
 #EAEAEA | Light Grey -  used for alternated row shading
 #5d7454 | Green - used as the background color of the table heading
 */
/*--------------------------^2 Main Content----------------------*/
/*--------------------------^2.1 General Styles-----------------*/
.bsrstatusdate {
	font-family:"Times New Roman", Times, serif;
	font-size:1.3em;
	font-style:italic;
	padding:0;
}

.generalList {
	list-style:none;
}

ul.jumpAnc {
	list-style:none;
	margin-bottom:2.5em;
}

.smallerText {
	font-size:.9em;
}

/*--------------------------^2.2 Data Tables---------------------*/
table.box-table-a {
	border-collapse:collapse;
	text-align:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	margin-bottom:5em;
	width:62em;
}

table.box-table-a th {
	background:url(https://www.federalreserve.gov/images/version5.png) repeat-x scroll 0 0 #5D7454;
	border-bottom:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
	border-top:4px solid #5d7454;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	font-weight:normal;
	height:1em;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	padding:4px 8px;
	text-align:left;
	/*text-decoration:none;*/
}

table.box-table-a th a{
	color:#FFFFFF;
	text-decoration:none;
}

table.box-table-a td {
	border:none;
	border-bottom:1px solid #000000;
	border-right:0px solid #FFFFFF;
	color:#000000;
	-moz-background-inline-policy:continuous;
	padding:8px;
}

.lblTableHeadDist, .lblTableHeadLoc, .lblTableHeadComp, .lblTableHeadOrg, .lblTableHeadFRDist, .lblTableHeadSect, .lblTableHeadSect {
	display:block;
	float:left;
}

.lblTableHeadDist {
	width:10.5em
}

.lblTableHeadLoc {
	width:17em
}

.lblTableHeadComp {
	width:22em
}

.lblTableHeadOrg {
	width:10.5em
}

.lblTableHeadFRDist {
	width:5em
}

.lblTableHeadSect {
	width:18em
}

.imgSort, span.imgSortDist {
	display:block;
	float:right;
	height:9px;
	width:10px;
}

span.imgSortDist {
	margin-top:0.5em;
}

span.imgSortFRDist {
	margin-top:0;
}

table.box-table-a .colDistrict, table.box-table-a .NoRightBorder {
	border-right-style:none;
}

table.box-table-a tr.even {
	background-color : #EAEAEA;
}

table.box-table-a tr.odd {
	background-color : #ffffff;
}
