/*-------ALTERING REDDOT STYLES THESE PAGES UTILIZE PUBWEB.CSS, SECONDARY.CSS, PRINT.CSS, CONSUMER.CSS, CONSUMER_PRINT.CSS FROM PUBWEB-----*/



/*-------EXTERNAL CONSUMER PUBLICATIONS - THESE PAGES UTILIZE PUBWEB.CSS, SECONDARY.CSS, CONSUMER.CSS, PRINT.CSS FROM PUBWEB-----*/
#cg #contentContainer {background-image:none; margin:0 0 0 0; padding:0 0 0 0;}
#cg .generalContentText {margin:0 0 0 0; padding:0 0 0 0;}
#cg #content {margin:0 0 0 0; padding:0 0 0 0;}


/*----------STYLESHEETS FOR CREDIT CARD WEBSITE-----------*/


body#cg {margin:0 0 0 0; padding:0 0 0 0; }
#cg #cgwrapper {margin:0 0 0 0; padding:0 0 0 0; font-size:0.95em;}
#cg #cgwrapper {margin:0 0 0 0; padding:0 0 0 0; font-size:0.95em;}

.titlebar {text-align:left; float:none; margin:0 0 0 0; padding:0 0 0 0;}

.cgleft {
	display:none;
	float:none;
	width:47px;
	margin:0 0 0 0;
	padding:0 0 0 0;
}

.cgleft2 {float:none;  margin:0 0 0 0; padding:1em 0 0 1em; width:45em; border-left:none; color:#333;}
.cgleft2 h1 {font-family:Tahoma, Geneva, sans-serif; font-size:1.85em; margin:0 0 0 0; color:#3c5104;}
.cgleft2 h2 {font-family:Tahoma, Geneva, sans-serif; font-size:1.5em; margin:0 0 0 0; color:#4c4c4c;}
.cgleft2 h3 {font-family:Tahoma, Geneva, sans-serif; font-size:1.4em; color:#3c5104; margin:1em 0 0 0; padding:0 0 0 0;}
.cgleft2 a:link {color:#527101; text-decoration:underline;}
.cgleft a:hover {text-decoration:underline;}
.cgleft2 a:visited {color:#527101;}

.cginfobar {float:none; margin:2.5em 0 0 0; width:21em; padding:0 0 0 0; font-size:0.90em; border-right:1px solid #3c5104;}
.cginfobar a:link {color:#4c4c4c; text-decoration:underline;}
.cginfobar a:visited {color:#4c4c4c; text-decoration:underline;}

ul.infobarcg {background-image:url(../../creditcard/gifjpg/nav_back.gif); background-position:top right; background-repeat:no-repeat; border-top:1px solid #3c5104; font-size:1.1em; margin:0 0 2em 0; list-style-image:url(../../creditcard/gifjpg/menu_link.gif); padding:1em 1em 1em 2em;}
ul.infobarcg li {margin:0 0 0.5em 0; }



/*------------FOOTER STYLES--------------*/
#cgfooter {display:none; background-color:#3c5104; margin:0 0 0 0; height:15px; padding:0.5em 0.5em 0.5em 15em; font-size:0.90em; color:#fff;}
#cgfooter .leftlinks {text-align:left;}
#cgfooter .rightlinks {text-align:right; margin:0 0.5em 0 0;}
#cgfooter a:link {color:#fff;}
#cgfooter a:visited {color:#fff;}

/*------------CONTENT STYLES--------------*/
#spanish  {background-color:#cccccc; color: #ffffff; font-size: 0.95em; font-weight: 600; text-decoration: none;}
#spanish:link  {background-color: #cccccc; color: #ffffff; font-size: 0.95em; font-weight: 600; text-decoration: none;}
#spanish:visited {background-color: #cccccc; color: #666600; font-size: 0.95em; font-weight: 600; text-decoration: none;} 

a.spanish  {background-color:#cccccc; color: #ffffff; font-size:1em; font-weight:bold; text-decoration: none;}
a.spanish:link  {background-color:#cccccc; color: #ffffff; font-size:1em; font-weight:bold; text-decoration: none;}
a.spanish:visited {background-color:#cccccc; color: #666600; font-size:1em; font-weight:bold; text-decoration: none;} 

ul.cgnone {margin:0 1em 2em 0; padding:0 0 0 1em; list-style:none;}
ul.cgnone li {margin:1em 0;}

ul.cgnone li.wyntk a:link {color:#4c4c4c;}
ul.cgnone li.wyntk a:visited {color:#4c4c4c;}


ul.cgbullets {margin:0 0 0 0; list-style-image:url(../../creditcard/gifjpg/cg_bullet_small.gif); padding:0 0 0 3em;}
ul.cgbullets li {margin:1em 0; vertical-align:middle;}

.box1 {padding:1em; margin:1em; background-color:#eaf6c6; float:right; width:250px; font-size:0.90em;}

.box2 {padding:1em; margin:0 0.5em; background-color:#fdf6da; float:left; font-size:0.90em;}

.picleft {float:none; margin:1em 2em 0 0;}
.picright {float:none; margin:0 0 0 0; padding:0 0 0 0;}
.seal {margin:1.5em 0 0 2em; padding:0 0 0 0;}
.icon {float:left; margin:1em 1em 0.75em 0;}
.icon2 {float:left; margin:0 1em 0 0;}
.float2 {margin:1em 0 0 0; padding:0 0 0 0;}
.av {font-size:0.90em;}
.rotatingcontent {margin-top:2em;}
p.updatedate {font-weight:bold; margin:2em 0 1em 0; padding:0 0 0 0;}
.bottomright {display:none; margin-top:0; margin-left:0;}
.button {text-align:right; margin-top:0.15em;}
.more {margin-top:3em;}

ul.glossarynav {list-style:none; padding:0 1em 0 0; margin:1em 0;}
ul.glossarynav li {display:inline;}


/*------------SURVEY PAGE STYLES--------------*/
table.survey {font-size:0.90em; font-family:Verdana, Geneva, sans-serif; margin:0 0 0 0; padding:1em; font-weight:normal; text-align:left; border-collapse:collapse; }
table.survey th {border-bottom:1px solid #fff; background-color:#4f7538; color:#FFF; border-right:1px solid #fff; margin:0 0 0 0; padding:.3em; text-align:center; font-weight:normal; border-top:5px solid #325900;}
table.survey td {padding:0 0 0 0; text-align:center; padding:.2em; width:10em;} 
table.survey td.left {font-weight:normal; padding:.2em; text-align:left;}
table.survey tr.shade {background-color:#fff6da;}
tr.alt td {background-color:#fff6da;}


/*------------PURPLE BEGIN--------------*/

#cg_creditreport #cg #contentContainer {background-image:none; margin:0 0 0 0; padding:0 0 0 0;}
#cg_creditreport #cg .generalContentText {margin:0 0 0 0; padding:0 0 0 0;}
#cg_creditreport #cg #content {margin:0 0 0 0; padding:0 0 0 0;}

.other_guides_box {}
.other_guides_box h4{margin:1em 0 0.25em 1em; padding:0; color:#3c5104; font-family:Tahoma,Geneva,sans-serif; font-size:1.5em; font-weight:normal;}
.other_guides_box p{margin:0 6em 0 1.5em; padding:0;}

.other_guides_box a{display:block; height:108px; width:229px;}

#cg_creditreport .titlebar {text-align:left; float:none; margin:1em 0 0 0; padding:0 0 0 0;}r

#cg_cr_footer {background-color:#4a3254; margin:0 0 0 0; height:15px; padding:0.5em 0.5em 0.5em 15em; font-size:0.90em; color:#fff;}
#cg_cr_footer .leftlinks {text-align:left;}
#cg_cr_footer .rightlinks {text-align:right; margin:0 0.5em 0 0;}
#cg_cr_footer a:link {color:#fff;}
#cg_cr_footer a:visited {color:#fff;}

#cg_creditreport .cgleft2 {float:none;none:0 0 0 0; padding:1em 0 0 1em; width:45em; border-left:1px solid #4a3254; color:#333;}
#cg_creditreport .cgleft2 h1 {font-family:Tahoma, Geneva, sans-serif; font-size:1.85em; margin:0 0 0 0; color:#4a3254; font-weight:normal;}
#cg_creditreport .cgleft2 h3 {font-family:Tahoma, Geneva, sans-serif; font-weight:normal; font-size:1.4em; color:#4a3254; margin:1em 0 0 0; padding:0 0 0 0;}
#cg_creditreport .cginfobar {float:none; margin:2.5em 0 0 0; width:21em; padding:0 0 0 0; font-size:0.90em; border-right:1px solid #4a3254;}

ul.cg_cr_bullets {margin:0 0 0 0; list-style:disc; padding:0 0 0 3em;}
ul.cg_cr_bullets li {margin:1em 0; vertical-align:middle;}

/*------------PURPLE END --------------*/
