/*---------- ITA PAGES----------*/
#topsection {width:58em;}
#highlightnav {background-color:#fdf1e3; margin:1em 0; padding:1em 0.25em;}
#highlightnav a {padding:0 0.25em;}
h2.border2 {font-family: "Times New Roman", Times, serif; font-size: 1.4em; padding: 0 0 0 0; font-weight:normal; border-bottom: 1px dashed #999999; margin-bottom: .3em;}
table#ita {border: 1px solid #CCCCCC;}
table#ita th{font-weight: bold; font-size: 1em; background-color: #3F523E; color: #FFFFFF; padding: .5em;}
table#ita tr.alt{font-weight: normal; background-color: #E8E9E4;}
table#ita td{vertical-align: top; padding: .5em;}

#right {float:left;}
.greentext2 {color:#03430d; font-size:0.85em; margin-top:-0.5em;}


/*---------- REGULATIONS ----------*/
#regnav {padding:1em 1em 1em 0.5em; background-color:#fdf1e3; margin-bottom:0.75em;}
.regname {font-weight:bold; margin-top:.25em; color:#3f523e;}
.regname2 {font-size:0.75em; font-weight:normal; padding-left:0.5em;}
.amend {font-weight:normal; margin-top:1em;}
.amend2 {font-weight:bold; margin-top:1em; margin-left:3.25em; color: #3f523e;}
.regchg {margin-left:3.25em; margin-bottom:1em;}   
.cite {font-size:0.85em;}
#jointright {font-family:"Times New Roman", Times, serif; font-weight:bold; float:right; width:300px;}
.clear2 {clear:right;}
.regltr {font-size:1.5em; font-weight:bold; padding:0 0 0 0; color:#3f523e; border-bottom:3px solid #3f523e; margin:1em 0 0.25em 0;}
.cfr {color:#3f523e; font-size:0.75em; font-weight:normal; padding-left:0.5em; text-align:right;}
h3.reg {text-decoration:underline;}
h2.border3 {font-family: "Times New Roman", Times, serif; font-size: 1.4em; padding: 0 0 0 0; font-weight:normal; border-bottom: 1px dashed #999999; margin-bottom:0;}
#indexDateControl {margin:0.5em 0 1em 0;}


/*---------- BANK SECRECY CALLOUT BOX ----------*/
#box {font-size:0.95em; color:#333333; background-color:#f2f8f3; border:2px solid #3f523e; padding:0 1em 1em 1em; margin:0 0 0 0;}

/*----SR LETTERS (REFRESH DESIGN WITH NO REDDOT, NO C-CLAMP)-----*/
#choicecontainer {padding:0 0 0 0; margin:0 0 2em 216px;}
img.left {float:left; width:200px; margin-right:1.15em;}
dt.sr {margin:0.75em 0 0 0;}
.footnotes {font-size:0.85em;}

/*---------- EAPPS PAGES----------*/

table.eapps {border-top:1px solid #EAEAEA; border-left:1px solid #EAEAEA; empty-cells:show; font-family: Verdana, Geneva, sans-serif; font-size: .85em; margin-bottom: 1em;}
table.eapps td {padding:5px; text-align:right; border-bottom:1px solid #EAEAEA; border-right: 1px solid #EAEAEA;}
table.eapps td.text{text-align:left;}
table.eapps td.right {text-align:right;}
table.eapps th {padding:5px; text-align:left; border-bottom: 1px solid #EAEAEA; border-right: 1px solid #EAEAEA; background-color:#74aeb7; color:white;}
table.eapps th.center{padding:5px; text-align:center; border-bottom: 1px solid #EAEAEA; border-right: 1px solid #EAEAEA; background-color:#74aeb7; color:white;}
table.eapps th.left {text-align: left;}
table.eapps th a:link {color:white;}
table.eapps th a:visited {color:white;}
table.eapps th.subhead{background-color: #74aeb7; color: #000;}
table.eapps th.subhead2{background-color: #74aeb7; color: #000; text-align: left;}
table.eapps td.left{text-align:left; font-weight:bold; border-right:1px solid #EAEAEA;}
table.eapps td.left2{text-align:left; border-right:1px solid #EAEAEA;}
table.eapps td.left3{text-align:center; font-weight:none; border-right:1px solid #EAEAEA;}
table.eapps td.center{text-align:center;}
table.eapps td.right{text-align:right;}
table.eapps tr.shade1 {background-color:#b1ccd1;}
table.eapps tr.shade2 {background-color: #EAEAEA;}
table.eapps .subhead{text-align: left; border-bottom: 1px solid #fff; font-weight: bold;}
table.eapps tr.header {background-color: #EAEAEA; }

#eappscallout {margin: 45px 0 0 0; width:390px; float:right; padding:0 0 0 0; background-color:#e4eef0; border-bottom: 4px solid #266ea9;  border-right: 1px solid #b6cfe3;}
#eappscallout h1 {margin:0 -0.51em 0.75em 0; padding:0.15em 0.15em 0.15em 0.25em; width: 380px; font-size:1.4em; color: #fff; background-color:#266ea9;}
#eappscallout a {color:#314732;}
#eappscallout ul {list-style:none; margin:0 0 0 0; padding:0 0 0 0; background-color: #e4eef0; border-top: 1px solid #b6cfe3;}
#eappscallout li.title {background-image:url(../gifjpg/gradient.gif); font-family: "Times New Roman", Times, serif; color: #fff; margin-top: 0px; font-size: 18px; list-style: none; padding-left: 10px; margin-right: 20px; border-right: 1px solid #b6cfe3; border-left: none; border-top: none;}
#eappscallout ul li {float: left; padding-right: 10px; list-style: none; padding-bottom: 5px; padding-top: 5px;}
img.logo {padding-right: 20px; }

/*---------- Finance Co Census ----------*/
#questcallout {margin: 5px 2px 0 0; width:230px; float:right; padding:0 0 0 0; background-color:#f7fbf7; border-bottom: 4px solid #3f523e;  border-right: 1px solid #3f523e;}
#questcallout h1 {margin:0 -0.51em 0.75em 0; padding:0.15em 0.15em 0.15em 0.25em; width: 380px; font-size:1.4em; color: #3f523e; background-color:#266ea9;}
#questcallout a {color:#314732;}
#questcallout ul {list-style:none; margin:0 0 0 0; padding:0 0 0 0; background-color: #e4eef0; border-top: 1px solid #3f523e;}
#questcallout li.title {background:url(../gifjpg/financecocensus_gradient.gif); font-family: "Times New Roman", Times, serif; color: #fff; margin-top: 0px; font-size: 16px; list-style: none; padding-left: 10px; margin-right: 25px; border-right: 1px solid #3f523e; border-left: none; border-top: none; width: 45px; height: 35px;}
#questcallout ul li {float: left; padding-right: 10px; list-style: none; padding-bottom: 5px; padding-top: 5px; margin-top: 2px;}
img.logo {padding-right: 20px; }
#leftText.fincocensusMainCont{
    width:40em;
}
#fincocensusRightBox {
    float: right;
    width: 217px;
}
#fincocensusRightBox .nav_anchor {
    font-size: 0.85em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
#fincocensusRightBox .nav_anchor h4 {
    font-size: 16px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
#fincocensusRightBox .nav_anchor ul {
    border-bottom-color: #3f523e;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: #3f523e;
    border-top-style: solid;
    border-top-width: 1px;
    color: #A7542C;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: square;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.75em;
    padding-left: 1.75em;
    padding-right: 1.75em;
    padding-top: 1em;
    background-color:#ecf3ec;
    list-style-image:url(https://www.federalreserve.gov/GIFJPG/greenbullet.gif);
}
#fincocensusRightBox .nav_anchor ul li {
    margin-bottom: 1em;
    margin-left: 0.5em;
}
#fincocensusRightBox .nav_anchor ul.textBox {
    list-style:none;
    margin:0;
    padding:.75em 0 0 0;
    color:#000;
    list-style-image:none;
}


/* Public Meeting Transcripts Table */
table.pubmtg {border-top:1px solid #EAEAEA; border-left:1px solid #EAEAEA; empty-cells:show; font-family: Verdana, Geneva, sans-serif; font-size: .85em; margin-bottom: 1em;}
table.pubmtg td {padding:5px; text-align:right; border-bottom:1px solid #EAEAEA; border-right: 1px solid #EAEAEA;}
table.pubmtg td.text{text-align:left;}
table.pubmtg td.right {text-align:right;}
table.pubmtg th {padding:5px; text-align:left; border-bottom: 1px solid #EAEAEA; border-right: 1px solid #EAEAEA; background-color:#3f523e; color:white;}
table.pubmtg th.center{padding:5px; text-align:center; border-bottom: 1px solid #EAEAEA; border-right: 1px solid #EAEAEA; background-color:#fdfaec; color:white;}
table.pubmtg th.left {text-align: left;}
table.pubmtg th a:link {color:white;}
table.pubmtg th a:visited {color:white;}
table.pubmtg th.subhead{background-color: #fdfaec; color: #000;}
table.pubmtg th.subhead2{background-color: #fdfaec; color: #000; text-align: left;}
table.pubmtg td.left{text-align:left; font-weight:bold; border-right:1px solid #EAEAEA; background-color: #fdfaec;}
table.pubmtg td.left2{text-align:left; border-right:1px solid #EAEAEA; background-color: #f7fbf7;}
table.pubmtg td.left3{text-align:left; font-weight:none; border-right:1px solid #EAEAEA; width: 10em; background-color: #f7fbf7;}
table.pubmtg td.left4{text-align:left; font-weight:none; border-right:1px solid #EAEAEA; width: 15em; background-color: #f7fbf7;}
table.pubmtg td.center{text-align:center;}
table.pubmtg td.right{text-align:right;}
table.pubmtg tr.shade1 {background-color:#fdfaec;}
table.pubmtg tr.shade2 {background-color: #fdfaec;}
table.pubmtg .subhead{text-align: left; border-bottom: 1px solid #fff; font-weight: bold;}
table.pubmtg tr.header {background-color: #fdfaec; }

table.pmt {border:1px solid white; margin:0 0 0 0; padding:0 0 0 0; border-collapse:collapse; font-size:0.90em;}
table.pmt th {text-align:center; font-weight:bold; color:white; background-color:#3F523E; padding:0.55em; border:2px solid white;}
table.pmt th a:link {color:white;}
table.pmt th a:visited {color:white;}
table.pmt td {text-align:center; padding:0.25em; }
table.pmt td.left3 {text-align:left; background-color:#fdfaec; color:#043502; width:12em; font-weight:bold; padding:0.5em; border:2px solid white; vertical-align:top;}
table.pmt td.left2 {text-align:left; background-color:#fdfaec; color:#043502; width:15em; font-weight:bold; padding:0.5em; border:2px solid white; vertical-align:top;}
table.pmt td.data {text-align:center; background-color:#f7fbf7; color:#043502; border:2px solid white;}
table.pmt td.data2 {text-align:left; padding:0.5em; background-color:#f7fbf7; color:#043502; border:2px solid white; vertical-align:top;}
table.pmt td.data3 {text-align:right; padding:0.5em; background-color:#f7fbf7; color:#043502; border:2px solid white; vertical-align:top;}
table.pmt td.shade {text-align:left; padding:0.5em; background-color:#ccc; color:#043502; border:2px solid white; vertical-align:top; }
/*--------------------ITA STYLES - Added 11/04/10 - Modified 11/10/10 ------------------*/
/*#rightSidebar #nav_anchor {
    font-size:0.85em;
    margin:0 0 1em 2em;
    padding:0;
}*/
#conference_header_generic {
    border-bottom:1px solid #CCCCCC;
    display:block;
    margin:0;
    min-height:75px;
    padding:0;
    width:55em;
}
/*#printIcon {
    float:right;
    font-size:0.85em;
    margin:1em 1em -5px 0;
}*/
#conference_header_generic div.title {
    float:left;
    margin:0.75em 0.5em;
}
#conference_header_generic .seal img {
    display:block;
    float:left;
    height:75px;
}
/*#printIcon_conference {
    background-color:#FFFFFF;
    font-size:0.85em;
    left:920px;
    margin:0;
    opacity:0.8;
    padding:0.5em;
    position:absolute;
}*/
#conference_header_generic div.title h1 {
    color:#000000;
    font-size:1.8em;
    line-height:1.3;
    margin:0;
    min-height:75px;
    padding:0;
}
#conference_header_generic div.title h1 span.deck {
    font-family:Arial, Helvetica, sans-serif;
    font-size:.7em;
    text-shadow:none;
}
#conference_header_generic div.title a:link {
    color:#000000;
    cursor:pointer;
    text-decoration:none;
}
#conference_header_generic div.title a:visited {
    color:#000000;
    cursor:pointer;
    text-decoration:none;
}
h2.border_solid {
    border-top:1px solid #999999;
    line-height:1;
    margin:1em 0 0.75em;
    padding:0.75em 0 0;
}
#rightSidebar {
    float:right;
}
/*#rightSidebar #nav_anchor h4 {
    font-size:16px;
    margin:0;
    padding:0;
}
#rightSidebar #nav_anchor ul {
    background-color:#BBC3BB;
    border-bottom:1px solid #253750;
    border-top:1px solid #253750;
    list-style:none outside none;
    margin:0;
    padding:1em 0.75em 0.75em;
}
#rightSidebar #nav_anchor ul li {
    margin-bottom:1em;
    margin-left:0.5em;
}
#conference #rightSidebar #nav_anchor ul li a {
    color:#253750;
    text-decoration:underline;
}*/
/*#leftText {
    width:44em;
    float:left;
}*/
#cont_ita_faqs {
    width:44em;
    margin:0;
    padding:0;
}
#cont_ita_faqs ul {
    margin:0.5em 0 0 0;
    padding:0;
    list-style:none;
}
.itaSchedule {
border-bottom:0.1em solid #A7542C;
border-left:0.1em solid #A7542C;
border-right:0.1em solid #A7542C;
margin:1em 0;
width:57em;
}
/* Box A */
#box-table-a {
    border-collapse:collapse;
    font-size:12px;
    text-align:left;
    width:100%;
}
#box-table-a tr {
    padding-right:1em;
}
#box-table-a th {
-moz-background-inline-policy:continuous;
background:none repeat scroll 0 0 #dbd1ad;
border-bottom:0.1em solid #A7542C;
border-collapse:collapse;
border-top:0.1em solid #A7542C;
color:#6B1D2D;
font-family:arial;
font-size:13px;
font-weight:normal;
padding:8px;
width:100px;
}
#box-table-a th.columnOne {
    width:400px;
}
#box-table-a td {
-moz-background-inline-policy:continuous;
border-bottom:.1em solid #cccccc;
border-collapse:collapse;
border-top:0.1em solid transparent;
color:#000000;
padding:8px;
}
#box-table-a td.courses_col_one{
width:400px;
}
/*-------Styles for tables on Course Pages--------*/
.tableCourse {
    border-collapse:collapse;
    font-size:12px;
    text-align:left;
    width:40em;
    border:0.1em solid #999999;
}
.tableCourse th {
-moz-background-inline-policy:continuous;
background:none repeat scroll 0 0 #ffffff;
border-bottom:0.1em solid #999999;
border-collapse:collapse;
border-top:0.1em solid #999999;
color:#000000;
font-family:arial;
font-size:13px;
font-weight:normal;
padding:.5em .25em .5em .25em;
}
.tableCourse td{
-moz-background-inline-policy:continuous;
border-bottom:0.1em solid #999999;
border-collapse:collapse;
color:#000000;
padding:.5em .25em .5em .25em;
}
#box-table-a .alt{
    background-color:#F1EDDE;
}
h2.ita_topHeader {
    border:none;
    color:#A7542C;
    margin:0;
}
h2.ita_header {
    margin:1em 0 0.75em;
    border:medium none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
    font-weight:bolder;
    line-height:0;
padding:1em 0 0;
}
h3.ita_header {
    line-height:1;
    margin:1em 0 0.75em;
    border:medium none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
    font-weight:normal;
    font-style:italic;
}
h2.ita_header_multiline {
    line-height:1.5;
    margin:1em 0 0.75em;
    border:medium none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
    font-weight:bolder;
}
h2 span.ita_seminar_date {
    font-style:italic;
    font-weight:normal;
}
.ita_noListStyle {
    list-style:none;
    padding:0;
    margin-left:0;
}
.ita_noListStyle li {
    margin:0 0 .5em 0;
}
.ita_noListStyle li.indent {
    margin:0 0 .5em 1em;
}
/*ITA Call Out*/
#ita_callout {
    background-color:#FFFFFF;
    border:0.1em solid #dbd1ad;
    padding:0.2em;
}
#ita_callout h3 {
    background-color:#dbd1ad;
    color:#4D3C29;
    font-weight:normal;
    margin:0;
    padding:0.3em 0 0.3em 0.3em;
}
#ita_callout ul {
    list-style:square outside none;
    margin:0;
    padding:0.5em 0 0 1.5em;
    color:#D5C8A0;
}
/*TEST RIGHT BOX*/
#itaRightBoxCont h1{
    font:1.4em "Times New Roman",Times,serif;
margin:0;
padding:1em 0 0;
}
#itaRightBoxCont{
    width:14em; 
    }
#itaRightBoxCont ul {
background-color:#FEF9F3;
border-bottom:1px solid #A7542C;
border-top:1px solid #A7542C;
color:#A7542C;
display:block;
list-style:none outside none;
margin:0;
padding:0.5em;
text-align:right;
}
#itaRightBoxCont ul li.itaCourseDate{
    padding:0.15em 0.3em 0.3em;
}
#itaRightBoxCont ul .itaCourseDate span {
color:#000000;
font-size:0.89em;
}
#itaRightBoxCont span.itaApplyNowCourse{
    background-color:#FEF9F3;
    border-color:-moz-use-text-color #A7542C #A7542C;
    color:#A7542C;
    display:block;
    font-family:Arial,Helvetica,sans-serif;
    font-size:1em;
    fosnt-weight:bold;
    margin:.5em 0 0 0;
}
#itaRightBoxCont span.itaApplyNowCourse a {
    color:#A7542C;
    font-family:Arial,Helvetica,sans-serif;
    font-size:1em;
    font-weight:bold;
    background-color:#F1EDDE;
    text-decoration:none;
    border:solid .1em #A7542C;
    padding:.2em;
}
#itaRightBoxCont span.itaApplyNow{
    background-color:#FEF9F3;
    border-color:-moz-use-text-color #A7542C #A7542C;
    color:#A7542C;
    display:block;
    font-family:Arial,Helvetica,sans-serif;
    font-size:1em;
    fosnt-weight:bold;
}
#itaRightBoxCont span.itaApplyNow a {
    color:#A7542C;
    font-family:Arial,Helvetica,sans-serif;
    font-size:1em;
    font-weight:bold;
}
.itaAboutUsNav{
    list-style:none;
    padding: 0 0.5em 0.5em 0.5em;
}
.itaAboutUsNav li{
    margin-bottom:0.5em;
}
.itaIndent{
    margin-left:1em;
}
.itaAboutUsNav .listHead{
    margin-bottom:0;
}
.blackText{
    color:#000;
}
.lst_itaCourses{
    list-style:square;
    color: #D5C8A0;
}
#ita_callout .itaCalloutSecondLevel{
    margin-top:.5em;
}
#itaCourseNavigation ul{
    margin:0; 
    padding:0;
    list-style:none;
}
#itaCourseThirdNav{
    border:#D5C8A0 .1em dotted;
    margin: .5em 0 .5em 0;
    padding:.5em;
    width:23.3em;
}
.itaCourse_subhead{
    display:block;
    font-size:.8em
}
.itaGeneralLink{
    text-align:left;
    font-size:0.89em;
    
}
.itaUnorderedList{
    list-style:none;
}

#contentContainer_courses{
    width:100px;
}

#TwoColumnsCourses{
margin-left:-16em;
}
 
#conference_header_generic.conference_header_generic_courses{
margin-left:-16em;
}

/*-----------------------------------Sub Content-----------------------------------*/
 .afi #subContent { float: right; width: 218px; }

/*------------------Standard box with links----------------------*/
.afi #subContent #con_anchors { margin:0 0 1em 2em; padding: 0; font-size: 0.85em; }
.afi #subContent #con_anchors ul { margin:0; padding:1em 1.75em 0.75em 1.75em; background-color: #FEF9F3; border-bottom:#A7542C solid 1px; border-top:#A7542C solid 1px; color: #A7542C; list-style:none outside square; }
.afi #subContent #con_anchors ul li { margin-bottom: 1em; margin-left: 0.5em; }
.afi #subContent #con_anchors h4 { margin:0; padding:0; font-size: 16px; }

/*Top Navigation horrizonal*/
#sectionNav { float:left; margin:0 0 15px 0; width:58em; background-image: url(../gifjpg/nav_background.gif); background-position: center bottom; background-repeat: repeat-x; border: 1px solid #DDDDDD; }
#sectionNav ul { float:left; margin:0; padding:8px 0; list-style:none; }
#sectionNav ul li { display:block; float:left; padding:0 7px; }

#navwrapperSilver.afi{margin:0 0 15px 0; clear:none; }

.afi h2.publetter {color: #253750; font-size: 1.5em; font-weight: normal; margin:1em 0 0 0; padding 0;}
.afi h2.afiPubletter{color: #253750; font-size: 1.5em; font-weight: normal;}
.afi div.highlite {display:block; background-color:#e9ebed; padding:0;}
.afi span.filingStages {display:block; padding:1em 0 0 10em;}
.afi div.bottomPadding {padding-bottom:.5em;}

.afi ul.contactInformation{float:left; width:30%}
.afi ul.threeColLst{float:left; padding-right:5em;}
.afi ul.aiAccessible{float:left; }

.redDotOnlyNoDisplay{display:none;}
 
/*---------------------Legal Interpretation Styles------------------*/
.legalInt .box {padding:5px; width:29em; border: #974C28 1px solid;
}
/*------------------Headings-------------------------*/
.legalInt h2, 
.legalInt h3{color:#974C28; font-family:Arial, Helvetica, sans-serif; font-size:16px;
}
.legalInt h2{ margin:0 0 0.2em 0;}
.legalInt h2.floatLeft{float:left; margin:0; padding:.17em 0 0 0; width:6em;}
.legalInt .box h3 {padding:5px; margin:1em 0 1em 0; background-color:#EDE8D6;}
.legalInt .box h3.noTopMargin{margin-top:0;}
/*----------------Definition List--------------------*/
.legalInt dl dt {padding:0.3em 0 .5em 0.3em;}
.legalInt dl dd {padding:0 0 1em 2em; margin:0 0 .5em 0;}
.legalInt .shade {background-color:#EDE8D6;}

/* SR Letter Styles */
dl.lst_srLetters { margin-top:0; }
.lst_srLetters dt { padding-bottom:0.5em; float:left; width:10em; }
.lst_srLetters dd { padding-bottom:.5em; margin-left:10em }
 
#con_srLetters ul { list-style: none;}
#con_srLetters:after { content: "."; display:block; height: 0; clear:both; visibility:hidden; }
#con_srLetters .column { display: block;padding:5px; width:25em; margin:0 40px 0 0; }
#con_srLetters .column.left { float:left; }
#con_srLetters .column.right { float:right; }
#con_srLetters .column ul { padding:0 0 0 15px; margin:0; list-style:circle; }
#con_srLetters .column li { padding-bottom: 10px; }
#con_srLetters .columnBeta { display: block; float: left; padding:5px; width:15em; margin:0; }


#con_srLetters ul { list-style: none; /* [disabled]display: block;
*/ }
#con_srLetters:after { content: "."; display:block; height: 0; clear:both; visibility:hidden; }
#con_srLetters .column { display: block; /* [disabled]float: left;
*/ padding:5px; width:25em; margin:0 40px 0 0; }
#con_srLetters .column.left { float:left; }
#con_srLetters .column.right { float:right; }
#con_srLetters .column ul { padding:0 0 0 15px; margin:0; list-style:circle; }
#con_srLetters .column li { padding-bottom: 10px; }
#con_srLetters .columnBeta { display: block; float: left; padding:5px; width:15em; margin:0; }
/*Rachels Styles*/
 .table_contents { float: left; margin-bottom: 30px; margin-left: 12px; position: relative; width: 733px; }
.contents_mid { background-color: #ffffff; border-top-color: #939f94; border-top-style: dashed; border-top-width: 1px; float: left; position: relative; width: 100%; }
.contents_mid_right { float: right; margin-top: 15px; padding-right: 25px; position: relative; width: 351px; }
.content_title { border-bottom-color: #cccccc; border-bottom-style: solid; border-bottom-width: 1px; /*font-family: "Times New Roman", Times, serif;*/ font-size: 14px; /*font-weight: bold;*/ padding-bottom: 15px; padding-top: 5px; }
.contents_section { float: left; margin-top: 15px; position: relative; width: 330px; }
.content_child { /*font-family: "Times New Roman", Times, serif;*/ font-size: 14px; font-weight: normal; margin-top: 5px; padding-bottom: 3px; }
.table_contents li { list-style-type: none; margin-left: -20px; }
.contentNav { float: left; border: 1px solid #DDD; background-image: url(../gifjpg/nav_background.gif); background-repeat: repeat-x; background-color: #fff; margin-bottom:1em; background-position: bottom; width: 100%; }
.contentNav:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.contentNav ul { list-style: none; padding: 0; margin: 0; }
.contentNav ul li { float:left; padding: 8px 7px 8px 7px; }
.contentNav ul li img { vertical-align: middle; }
.contentNav ul li.selected { font-weight: bold; text-decoration: none; }
.contentNav ul li.selected a:link { text-decoration: none; }
.contentNav ul li.selected a:visited { text-decoration: none; }
.contentNav ul.column { list-style: none; margin: 0; padding: 5px; float: left; width: 28%; }
.contentNav ul.column li { padding:2px 3px 2px 3px; float: none; }

/*--Sections of this page styles--*/
.conSRoverview{
    padding:0px 0 10px 0;
    width:500px;
    margin:0;
}
form[name=Main_Topic_Pages_List]{
    margin:0;
    padding:0 0 10px 0;
}

.srTopicsSectionsofThisPage ul{
    list-style:inside;
    margin:0;
    padding:0 0 0 15px;
}
.srTopicsSectionsofThisPage ul li{
    margin:0;
    padding:5px 0 5px 0;
}
.srTopicsSectionsofThisPage .nolistStyle{
    list-style:none;
    padding:0;
    margin:0;
}
.srTopicsSectionsofThisPage ul li ul{
    margin:0;
    padding:0;
}
.srTopicsSectionsofThisPage ul li ul li{
    padding:0;
    margin:5px;
    list-style-type:circle;
}

.jumpBox {
    background-color: #FDFCF7;
    border-bottom-color: #CABB9C;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: #CABB9C;
    border-top-style: solid;
    border-top-width: 1px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 67%;
}
.jumpArea.jumpPage .jumpBox ul {
    width: 100%;
}
.morePadding li{
    padding-bottom:10px;
}

/* Sortable tables */
table.sortable  {
    padding: 0;
        font-size: 0.9em;
}
table.sortable thead {
    background-color: #253750;
    border-right: 0.01em solid white;
    border-top: 0.01em solid white;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
    cursor: default;
        font-size: 1em;
}
table.sortable .stub {
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    font-weight: normal;
    padding: 0.35em;
    text-align: left;
    vertical-align: top;
}
table.sortable .horizlft {
    text-align: left;
}
table.sortable .data {
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    font-weight: normal;
    padding: 0.35em;
    text-align: right;
    vertical-align: bottom;
}
table.sortable .colhead {
    background-color: #253750;
    border-right: 0.01em solid white;
    border-top: 0.01em solid white;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
}
.sr-ca-rss-icon{
    position:relative;
    top:-22px;
    margin-bottom:100px;
    left:428px
  }